@use '@/styles/_variables' as *;

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: "RedditSans", sans-serif;
}

html, body, #root{
  height: 100%;

}

body {
  background: $light-gradient;
}